body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.container {
    padding: 20px;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    color: #007bff;
}
.skills ul, .services ul {
    list-style-type: none;
    padding: 0;
}
.skills li, .services li {
    background-color: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.toggle-theme {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.dark-theme {
    background-color: #333;
    color: #f0f4f8;
}
.dark-theme header {
    background-color: #444;
}
.dark-theme .toggle-theme {
    background-color: #444;
    color: #fff;
}
.dark-theme .section h2 {
    color: #00aaff;
}
.dark-theme .skills li, .dark-theme .services li {
    background-color: #555;
}
form {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 5px;
}
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media screen and (min-width: 768px) {
    html {
        background-color: #f69051;
    }
    p {
        font-size: 1.2rem;
    }
    header {
        padding: 30px;
    }
    .container {
        padding: 30px;
    }
    .section h2 {
        font-size: 2rem;
    }
    .skills li, .services li {
        padding: 15px;
    }
    form {
        padding: 30px;
    }
    form input, form textarea {
        padding: 15px;
    }
    form button {
        padding: 15px 30px;
    }
}

@media screen and (min-width: 992px) {
    html {
        background-color: #F26D40;
    }
    p {
        font-size: 1.6rem;
    }
    header {
        padding: 40px;
    }
    .container {
        padding: 40px;
    }
    .section h2 {
        font-size: 2.5rem;
    }
    .skills li, .services li {
        padding: 20px;
    }
    form {
        padding: 40px;
    }
    form input, form textarea {
        padding: 20px;
    }
    form button {
        padding: 20px 40px;
    }
}